GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_LEADS_SPREADSHEET_ID=1VJwN567x7cqzZROQCLk6773YRguj3ThBBALL4vunod4
GOOGLE_SALES_SPREADSHEET_ID=1FOHWsp19vGMRbFJqZUAdMKWEI6aI1RnBjOaJq9TBtno
GOOGLE_CALENDAR_ID=
MONTHLY_CONTRACT_TARGET=50
WEEKLY_CONTRACT_TARGET=12
